heatmapgenerator/Service References/PostService/post.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PostLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceProfile" type="tns:DeviceProfile" />
            <s:element minOccurs="0" maxOccurs="1" name="locationStamps" type="tns:ArrayOfLocationStamp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DeviceProfile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClientGuid" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceType" nillable="true" type="tns:DeviceType" />
          <s:element minOccurs="1" maxOccurs="1" name="ExtendedDeviceInfo" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GpsDevice" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="DeviceType">
        <s:restriction base="s:string">
          <s:enumeration value="Other" />
          <s:enumeration value="MobilePhone" />
          <s:enumeration value="Pda" />
          <s:enumeration value="PC" />
          <s:enumeration value="Server" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLocationStamp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocationStamp" nillable="true" type="tns:LocationStamp" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationStamp">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CellTowers" nillable="true" type="tns:ArrayOfCellTowerData" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationData" nillable="true" type="tns:LocationData" />
          <s:element minOccurs="0" maxOccurs="1" name="RecordTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="WifiAccessPoints" nillable="true" type="tns:ArrayOfWifiAccessPointData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCellTowerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CellTowerData" nillable="true" type="tns:CellTowerData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CellTowerData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CellTowerId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LocationAreaCode" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MaxSignalStrength" nillable="true" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="MinSignalStrength" nillable="true" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="OperatorId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SignalStrength" nillable="true" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Altitude" nillable="true" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="FixQuality" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="FixType" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="Heading" nillable="true" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Latitude" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Longitude" nillable="true" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="SatellitesInSolution" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="SatellitesInView" nillable="true" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="SignalToNoiseRatio" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="tns:SourceType" />
          <s:element minOccurs="0" maxOccurs="1" name="Speed" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="SourceType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown" />
          <s:enumeration value="Gps" />
          <s:enumeration value="Map" />
          <s:enumeration value="PremiumPartner1" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfWifiAccessPointData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WifiAccessPointData" nillable="true" type="tns:WifiAccessPointData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WifiAccessPointData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Bssid" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RouterInfo" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Secure" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SignalStrength" nillable="true" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Ssid" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationPostResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TimeStamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="isSuccessful" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ResultCode" type="tns:resultCode" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchLimit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Frequency" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TrackingId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="resultCode">
        <s:restriction base="s:string">
          <s:enumeration value="InvalidToken" />
          <s:enumeration value="Successful" />
          <s:enumeration value="Unknown" />
        </s:restriction>
      </s:simpleType>
      <s:element name="PostLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostLocationResult" type="tns:LocationPostResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostLocationOnlyToPhyo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="token" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceProfile" type="tns:DeviceProfile" />
            <s:element minOccurs="0" maxOccurs="1" name="locationStamps" type="tns:ArrayOfLocationStamp" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostLocationOnlyToPhyoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostLocationOnlyToPhyoResult" type="tns:LocationPostResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostLocationSoapIn">
    <wsdl:part name="parameters" element="tns:PostLocation" />
  </wsdl:message>
  <wsdl:message name="PostLocationSoapOut">
    <wsdl:part name="parameters" element="tns:PostLocationResponse" />
  </wsdl:message>
  <wsdl:message name="PostLocationOnlyToPhyoSoapIn">
    <wsdl:part name="parameters" element="tns:PostLocationOnlyToPhyo" />
  </wsdl:message>
  <wsdl:message name="PostLocationOnlyToPhyoSoapOut">
    <wsdl:part name="parameters" element="tns:PostLocationOnlyToPhyoResponse" />
  </wsdl:message>
  <wsdl:portType name="LocationPostServiceSoap">
    <wsdl:operation name="PostLocation">
      <wsdl:input message="tns:PostLocationSoapIn" />
      <wsdl:output message="tns:PostLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostLocationOnlyToPhyo">
      <wsdl:input message="tns:PostLocationOnlyToPhyoSoapIn" />
      <wsdl:output message="tns:PostLocationOnlyToPhyoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationPostServiceSoap" type="tns:LocationPostServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostLocation">
      <soap:operation soapAction="http://tempuri.org/PostLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostLocationOnlyToPhyo">
      <soap:operation soapAction="http://tempuri.org/PostLocationOnlyToPhyo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LocationPostServiceSoap12" type="tns:LocationPostServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostLocation">
      <soap12:operation soapAction="http://tempuri.org/PostLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostLocationOnlyToPhyo">
      <soap12:operation soapAction="http://tempuri.org/PostLocationOnlyToPhyo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationPostService">
    <wsdl:port name="LocationPostServiceSoap" binding="tns:LocationPostServiceSoap">
      <soap:address location="http://location.commonapi.org/v0post/post.asmx" />
    </wsdl:port>
    <wsdl:port name="LocationPostServiceSoap12" binding="tns:LocationPostServiceSoap12">
      <soap12:address location="http://location.commonapi.org/v0post/post.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>